# Игнорировать все файлы с расширением .dll
*.dll

# Игнорировать все файлы с расширением .exe
*.exe

# Игнорировать директорию, содержащую сборки
bin/
obj/

# Другие временные файлы, которые не нужно сохранять в репозитории
.vs/
.idea/
*.suo
*.user